includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - routes
    level: 5
    ignoreErrors:
        - '/Variable \$this might not be defined/'
        - '/Unsafe usage of new static/'
